# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.envrc

# Next.js
.next

# Vite cache
.vite

# Build artifacts
build/

# Testing
coverage/

# Eslint cache
.eslintcache

# OS files
Thumbs.db
*.bak
*.orig

# Temporary
tmp

*.tsbuildinfo

# Supabase CLI cache
supabase/.temp/

# AI Rules
/AGENTS.md
/CLAUDE.md
/.cursor
/.agent
/.claude
